<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ICertificateWarehouseService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:53407/CertificateWarehouseService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICertificateWarehouseService"
                contract="CertificateWarehouseService.ICertificateWarehouseService"
                name="BasicHttpBinding_ICertificateWarehouseService" />
        </client>
    </system.serviceModel>
</configuration>